<h3 class="mt-5 mb-3">Add a new subcontractor</h3>

<form [formGroup]="subconForm" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Name:</label>
            <input class="form-control" type="text" formControlName="subconName">
            <small class="text-danger" *ngIf="subconForm.get('subconName')?.invalid && subconForm.get('subconName')?.touched">
                Subcontractor name is required.
            </small>
        </div>

        <div class="col">
            <label class="form-label">Activity type:</label>
            <input class="form-control" type="text" formControlName="subconActivity">
            <small class="text-danger" *ngIf="subconForm.get('subconActivity')?.invalid && subconForm.get('subconActivity')?.touched">
                Suncontractor is required.
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Start date:</label>
            <input class="form-control" type="date" formControlName="startDate">
            <small class="text-danger" *ngIf="subconForm.get('startDate')?.invalid && subconForm.get('startDate')?.touched">
                Start date is required.
            </small>
        </div>

    <button class="btn btn-primary" type="submit" [disabled]="subconForm.invalid">Submit</button>
  </div>
</form>