.rams-card {
  height: 20vh;
  width: 300px;
  border-left: 500px;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 126, 250);
  border-left: 1000px;
  }
  
  .green-icon svg {
    fill: green;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section + .demo-section {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 100px;
}

.fst-div{
  height: 100vh;
  padding-left: 8%;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
}

.snd-div{
  height: 100vh;
  padding-left: 30%;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  display: inline-block !important;
}

.trd-div{
  height: 100vh;
  padding-left: 30%;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
}

.mat-icon {
  transform: scale(2);
  margin-right: 10px;
}