<h3 class="mt-5 mb-3">Register new rams</h3>

<form [formGroup]="ramsForm" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Rams Title:</label>
            <input class="form-control" type="text" formControlName="ramsTitle">
            <small class="text-danger" *ngIf="ramsForm.get('ramsTitle')?.invalid && ramsForm.get('ramsTitle')?.touched">
                Rams Title is required.
            </small>
        </div>

        <div class="col">
            <label class="form-label">Subcontractor:</label>
            <select class="form-control" type="text" formControlName="ramsSubcon">
                <option value="" disabled>Select subcontractor</option>
                <option *ngFor="let sub of subcon">{{sub.subconName}}</option>
            </select>
            <small class="text-danger" *ngIf="ramsForm.get('ramsSubcon')?.invalid && ramsForm.get('ramsSubcon')?.touched">
                Suncontractor is required.
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Revision no:</label>
            <input class="form-control" type="number" formControlName="revNumber">
            <small class="text-danger" *ngIf="ramsForm.get('revNumber')?.invalid && ramsForm.get('revNumber')?.touched">
                Guest Name is required.
            </small>
        </div>

        <div class="col">
            <label class="form-label">Revision Date:</label>
            <input class="form-control" type="date" formControlName="revDate">
            <small class="text-danger" *ngIf="ramsForm.get('revDate')?.invalid && ramsForm.get('revDate')?.touched">
                Revision date is required.
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label class="form-label">Rams status:</label>
            <!-- <input class="form-control" type="text" formControlName="ramsStatus"> -->
            <select class="form-control" type="text" formControlName="ramsStatus">
                <option value="" disabled>Select status</option>
                <option *ngFor="let stat of status">{{stat}}</option>
            </select>
            <small class="text-danger" *ngIf="ramsForm.get('ramsStatus')?.invalid && ramsForm.get('ramsStatus')?.touched">
                Rams Status is req.
            </small>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="ramsForm.invalid">Submit</button>
</form>
