<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h4>RG Group - Rams tracker</h4>
    <span class="welcome">
      <div *ngIf="isAuthenticated">Welcome {{userDetails.email}}</div>
    </span>   
    <span class="spacing_left"></span>  
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated"> 
    <c-avatar color="primary" shape="rounded" textColor="white"  *ngIf="isAuthenticated" status="success"
    style="
    height:25px !important;
    width:25px !important;
    font-size:30px !important;"
  >
                {{userDetails.email[0]}}
                {{userDetails.email[1]}}
                {{userDetails.email[2]}}
              
    </c-avatar>
    </button>
              
                <button mat-button [matMenuTriggerFor]="menu" *ngIf="!isAuthenticated"> Login</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="!isAuthenticated" routerLink="auth" >Login</button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="onLogout()">Logout</button>
</mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container autosize="true">
    <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list>
        <a mat-list-item  routerLink="">
          <span class="entry" >
            <mat-icon>house</mat-icon>
            <span *ngIf="!isCollapsed">Dashboard</span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item  routerLink="rams">
          <span class="entry">
            <mat-icon>density_medium</mat-icon>
            <span *ngIf="!isCollapsed">Rams</span>
          </span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item  routerLink="subcontractors">
          <span class="entry">
            <mat-icon>contacts</mat-icon>
            <span *ngIf="!isCollapsed">Subcontractors</span>
          </span>
        </a>
      </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item  routerLink="issues">
        <span class="entry">
          <mat-icon>comment</mat-icon>
          <span *ngIf="!isCollapsed">Report and issue</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>