<h2 class="mt-5 mb-3">All Rams</h2>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
    </div>
<table class="table table-striped" *ngIf="!isLoading">
    <thead>
        <tr>
            <th>Title</th>
            <th>Subcontractor</th>
            <th>Rev No.</th>
            <th>Rev Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ram of rams">
            <td>{{ram.ramsTitle}}</td>
            <td>{{ram.ramsSubcon}}</td>
            <td>{{ram.revNumber}}</td>
            <td> {{ram.revDate}} </td>
            <td [id]="[ram.ramsStatus]">{{ram.ramsStatus}}</td>
            <td>
                <button class="btn btn-sm btn-danger mx-1" (click)="deleteRam(ram.id)" *ngIf="isAuthenticated">Delete</button>
                <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit', ram.id]" *ngIf="isAuthenticated">Edit</button>
            </td>
        </tr>
    </tbody>
</table>

<div>
  <div class="row">
    <div class="col-xs-3">
      <button (click)="newRams()" class="btn btn-primary">New Rams</button>
    </div>
  </div>
</div>

<ul *ngIf="rams.length; else noram">

</ul>

<ng-template #noram>
    <p>No ram available.</p>
</ng-template>